/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
   
}


/* header do il colore e laltezza essendo senza contenuto*/

header{
    height: 600px;
    background-color: blue;
    

}

/*è il contenutore del box login arancione qui metto le regole flexbox per controllarlo*/

.logo-flex{
    background-color: lightblue;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*vero e proprio login*/

.login{

    background-color: orange;
    height: 60px;
    width: 1400px;
   


    /*
    margin-left: 150px;
    margin-right: 150px;
    */


} 

/*riquadri interni al login divisi per inserire testo*/
.box-login{
    display: flex;
    text-align: left;
    line-height: 60px;
    font-size: larger;
   
    

}

.box-login-1{
    background-color: orange;
    height: 60px;
    width: 468px;
    border-style: dotted;
  

 

}

.box-login-2{
    background-color: orange(238, 144, 144);
    height: 60px;
    width: 932px;
    border-style: dotted;
   
    
 

}

.box-login-3{
    background-color: orange(164, 144, 238);
    height: 60px;
    width: 468px;
    border-style: dotted;
    
 

}

/*fine login*/


/*sezione che racchiude il riquadro rosa per controllarlo con flexbox*/

/*avendo preso la misura di header in altezza 600px devo riportare laltezza meno i 100 px del logo-login in modo che la section possa centrarsi*/

.header-main{
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

/*riquadro rosa*/
.header-main-content{
    background-color: palevioletred;
    height: 400px;
    width: 900px;
    border-style: dotted;

}

/*fine header*/

/*per il main content 1 uso le stesse misure dell'header in modo da centrare bene i riquadri interni*/

.main-content-1{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}
 

/*usato per vedere il risultato e limpostazione lascio commentato in caso di necessita*/
.main-content-1-box{
    width: 1200px;
    height: 500px;
    border-style: dotted;
    display: flex;
    
    
}

/*dentro al riquadro box ci sono altri due riquadri per 2 contenuti diversi*/

/*flex-grow il mio elemento puo allargarsi (1) flex-shrink autorizzazione a stringersi no (0)*/

/*blu*/

.main-content-1-box-blue{
    background-color: lightblue;
    flex-grow: 1;
    flex-shrink: 0;
    height: 100%;
    width: 65%;
    border-style: dotted;
    
   
}

/*rosa*/
.main-content-1-box-rosa{
    background-color: palevioletred;
    height: 100%;
    width: 35%;
    flex-grow: 1;
    flex-shrink: 0;
    border-style: dotted;
    
}

/*fine main content 1*/


/*inizio main content 2 */



.main-content-2{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;
    
}


/*usato per vedere il risultato e limpostazione lascio commentato in caso di necessita*/
.main-content-2-box{
    width: 1200px;
    height: 500px;
    border-style: dotted;
    display: flex;
    
    
}

/*dentro al riquadro box ci sono altri due riquadri per 2 contenuti diversi*/

/*flex-grow il mio elemento puo allargarsi (1) flex-shrink autorizzazione a stringersi no (0)*/

/*blu*/

.main-content-2-box-blue{
    background-color: lightblue;
    flex-grow: 1;
    flex-shrink: 0;
    height: 100%;
    width: 35%;
    border-style: dotted;
    
   
}

/*rosa*/
.main-content-2-box-rosa{
    background-color: palevioletred;
    height: 100%;
    width: 65%;
    flex-grow: 1;
    flex-shrink: 0;
    border-style: dotted;
    
}

/*fine main content 2*/

/*inizio-main content 3*/

.main-content-3{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}
 


.main-content-3-box{
    width: 1200px;
    height: 500px;
    border-style: dotted;
    display: flex;
    
    
}

/*dentro al riquadro box ci sono altri due riquadri per 2 contenuti diversi*/

/*flex-grow il mio elemento puo allargarsi (1) flex-shrink autorizzazione a stringersi no (0)*/

/*blu*/

.main-content-3-box-blue{
    background-color: lightblue;
    flex-grow: 1;
    flex-shrink: 0;
    height: 100%;
    width: 65%;
    border-style: dotted;
    
   
}

/*rosa*/
.main-content-3-box-rosa{
    background-color: palevioletred;
    height: 100%;
    width: 35%;
    flex-grow: 1;
    flex-shrink: 0;
    border-style: dotted;
    
}

/*fine main content 3*/

/*inizio main content 4 verde*/

.main-content-4-verde{
    display: flex;
    height: 1200px;
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;
}

.verde{
    width: 1200px;
    height: 1000px;
    border-style: dotted;
    display: flex;
    background-color: green;
}

/*fine main content 4 verde*/

/*inizio main content contenuti divisi footer*/

.footer-content-black{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: flex-start;
    background-color: #23272A;
    
}
/*non centro il box come da screen (esercizio assegnato)*/
.footer-content-black-box{

    height: 500px;
    width: 1200px;
    border-style: dotted;
    margin: 40px;
    display: flex;
    justify-content: space-between;


}

.footer-content-black-box-1{
    height: 100%;
    width: 18%;
    flex-grow: 1;
   
    background-color: pink;
    border-style: dotted;
}

.footer-content-black-box-2{
    height: 100%;
    flex-grow: 1;
    border: 2px dashed white;
    
    background-color: #20B3AA;
    
}

.footer-content-black-box-3{
    height: 100%;
    flex-grow: 1;
    border: 2px dashed white;
   
    background-color: #20B3AA;
}

.footer-content-black-box-4{
    height: 100%;
    flex-grow: 1;
    background-color: #20B3AA;
    border: 2px dashed white;
}

.footer-content-black-box-5{
    height: 100%;
    flex-grow: 1;
    border: 2px dashed white;
    
    background-color: #20B3AA;
}

/*fine main content contenuti divisi footer*/

/*inizio  real footer*/

#divisorio{
    height: 2px;
    width: max-content;
    background-color: white;

}


.real-footer{
    display: flex;
    height: 100px;
    
    justify-content: center;
    align-items: flex-end;
   
    background-color: #23272A;
    
}

.footer-content{

    height: 80px;
    width: 1200px;
    background-color: #7FFFD5;





}

.footer-box-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    line-height: 40px;
   
    font-size: medium;
    height: 100%;
    width: 100%;
    
}

.footer-box-2{
    height: 35px;
    width: 100px;
    background-color: pink;
    outline: 3px dashed black;
  
    
   
    

}


.footer-box-1{
    height: 35px;
    width: 100px;
    background-color: pink;
    outline: 3px dashed black;
    
    
    

}















