/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
   
}


/* header do il colore e laltezza essendo senza contenuto*/

header{
    height: 600px;
    background-color: blue;

}
/*è il contenutore del box login arancione qui metto le regole flexbox per controllarlo*/

.logo-flex{
    background-color: lightblue;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*vero e proprio login*/

.login{

    background-color: orange;
    height: 60px;
    width: 1400px;
   


    /*
    margin-left: 150px;
    margin-right: 150px;
    */


} 

/*riquadri interni al login divisi per inserire testo*/
.box-login{
    display: flex;
    text-align: left;
    line-height: 60px;
    font-size: larger;
   
    

}

.box-login-1{
    background-color: orange;
    height: 60px;
    width: 468px;
    border-style: dotted;
  

 

}

.box-login-2{
    background-color: orange(238, 144, 144);
    height: 60px;
    width: 932px;
    border-style: dotted;
   
    
 

}

.box-login-3{
    background-color: orange(164, 144, 238);
    height: 60px;
    width: 468px;
    border-style: dotted;
    
 

}

/*fine login*/

